node_modules
npm-debug.log
.git
.gitignore
README.md
.env.example
.phpunit.result.cache
Dockerfile
.dockerignore
vendor
.vite
public/build
public/hot
storage/app/public
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache/*.php
